[Unit]
Description=Calico libnetwork plugin
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/calico/calico.env
Restart=on-failure
ExecStart=/usr/bin/libnetwork-plugin

[Install]
WantedBy=multi-user.target