.idea/
.vagrant/
.DS_Store
*.swp
*.pyc
env/
lain_box/centos7
lain_box/lain.box
.ropeproject/
examples/hello/Dockerfile
playbooks/roles/binary/files/*
*/**/.gitignore
**/.coverage
/site/
**/unittest.xml
**/htmlcov
*.gz
*.bz2
*.tar
**/build
**/dist
**/*.egg-info
venv/
lain.iml
