[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd
After=network.target

[Service]
User=etcd
Type=notify
LimitNOFILE=65535
EnvironmentFile={{ etcd_dir }}/env
ExecStart=/usr/bin/etcd
Restart=on-failure

[Install]
WantedBy=multi-user.target
