ETCD_NAME="{{ node_name }}"
ETCD_DATA_DIR="{{ etcd_dir }}/{{ node_name }}"
ETCD_LISTEN_PEER_URLS="http://{{ node_ip }}:{{ etcd_peer_port }}"
ETCD_LISTEN_CLIENT_URLS="http://localhost:{{ etcd_client_port }},http://{{ node_ip }}:{{ etcd_client_port }}"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ node_ip }}:{{ etcd_client_port }}"
ETCD_INITIAL_CLUSTER="{{ etcd_cluster }}"
{% if bootstrapping|bool %}
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ node_ip }}:{{ etcd_peer_port }}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="{{ cluster_token }}"
{% elif is_etcd_member|bool %}
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ node_ip }}:{{ etcd_peer_port }}"
ETCD_INITIAL_CLUSTER_STATE="existing"
{% else %}
ETCD_PROXY="on"
{% endif %}
