*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
COMMIT
*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:lain-OUTPUT - [0:0]
:lain-PREROUTING - [0:0]
-A PREROUTING -j lain-PREROUTING
-A OUTPUT -j lain-OUTPUT
COMMIT
