TypesDB "/var/lib/collectd/types/lain.db"

<Plugin exec>
        Exec "collectd:docker" "/var/lib/collectd/plugins/lain/lain_docker.py" "--domain" "{{domain}}"
        Exec "collectd:docker" "/var/lib/collectd/plugins/lain/cluster_monitor.py" "--swarm-manager-port" "{{ swarm_manager_port }}"
        Exec "collectd:docker" "/var/lib/collectd/plugins/lain/lainlet_monitor.py" "--lainlet-port" "{{ lainlet_port }}"
        Exec "collectd:docker" "/var/lib/collectd/plugins/lain/deployd_monitor.py" "--deployd-port" "{{ deployd_port }}"
</Plugin>

<Plugin processes>
        ProcessMatch "etcd" "/usr/bin/etcd"
        ProcessMatch "lainlet" "/usr/bin/lainlet"
        ProcessMatch "networkd" "/usr/bin/networkd"
        ProcessMatch "deployd" "/usr/bin/deployd"
        ProcessMatch "docker" "dockerd"
        ProcessMatch "rebellion" "rebellion"
        ProcessMatch "hekad" "hekad"
        ProcessMatch "rsyslogd" "/usr/sbin/rsyslogd"
</Plugin>
