[Unit]
Description=fast remote file copy program daemon
ConditionPathExists=/etc/rsyncd.conf

[Service]
ExecStart=/usr/bin/rsync --daemon --no-detach --config={{rsync_conf_path}}

[Install]
WantedBy=multi-user.target
