[Unit]
Description=docker swarm agent
After=docker.service

[Service]
ExecStart=/usr/bin/docker run \
          --name %n \
          --rm \
          swarm:{{ upgrade_version }} join \
          --addr={{ node_ip }}:{{ docker_port }} \
          etcd://{{ node_ip }}:{{ etcd_client_port }}/lain/swarm
ExecStop=/usr/bin/docker stop %n
Restart=always

[Install]
WantedBy=multi-user.target
