[Unit]
Description=rebellion
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run \
          --name %n --rm --network=host -p {{ rebellion_rsyslog_tcp_port }}:8178/tcp \
          -e NODE_NAME={{ node_name }} -e LAINLET_PORT={{ lainlet_port }} -e GRAPHITE_PORT={{ graphite_port }} \
          -v {{ lain_data_dir }}/volumes/:/data/lain/volumes/:ro \
          -v {{ lain_data_dir }}/rebellion/heka/cache/:/data/heka/cache \
          -v {{ lain_data_dir }}/rebellion/heka/local/:/data/heka/local \
          -v {{ lain_data_dir }}/rebellion/logs/:/var/log/supervisor/ \
          {{ rebellion_image }}
ExecStop=/usr/bin/docker stop %n
Restart=always

[Install]
WantedBy=multi-user.target
