[Unit]
Description=rebellion
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
          --name %n --restart=always --network=host \
          -e LAINLET_PORT={{ lainlet_port }} \
          -v {{ lain_data_dir }}/volumes/:/data/lain/volumes/:ro \
          -v {{ lain_data_dir }}/rebellion/var/lib/filebeat/:/var/lib/filebeat \
          -v {{ lain_data_dir }}/rebellion/logs/filebeat:/var/log/filebeat/ \
          -v {{ lain_data_dir }}/rebellion/logs/supervisor:/var/log/supervisor/ \
          -v /var/log/:/var/log/syslog/:ro \
          {{ rebellion_image }}
ExecStop=/bin/bash -c '/usr/bin/docker stop %n || true'

[Install]
WantedBy=multi-user.target
