- apiVersion: v1
  kind: ipPool
  metadata:
    cidr: {{ calico_default_network }}
  spec:
{% if calico_ipip|bool %}
    ipip:
        enabled: true
        mode: always
{% endif %}
    nat-outgoing: true