[Unit]
Description=Docker Netstat
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/usr/bin/docker-netstat -graphite {{ graphite_vip }}:{{ graphite_port }}

[Install]
WantedBy=multi-user.target