[Unit]
Description=backupd
After=network.target

[Service]
User=root
ExecStart=/usr/bin/backupd daemon \
    -addr :{{ backupd_port }} \
    -ip {{ node_ip }} \
    -backup-driver {{ backupd_driver }} \
    -backup-moosefs-dir {{ backup_dir }}
Restart=always

[Install]
WantedBy=multi-user.target
