{
    {% if ansible_distribution == "CentOS" %}
      {% if docker_device != "" %}
"storage-driver": "devicemapper",
    "storage-opts": ["dm.datadev={{ devicemapper_data_dir }}","dm.metadatadev={{ devicemapper_metadata_dir }}"],
      {% endif -%}
    "selinux-enabled": true,
    {% endif -%}

    {% if registry_mirror is defined %}
"registry-mirrors": ["{{ registry_mirror }}"],
    {% endif -%}
    {% if node_labels is defined %}
"labels": [{% for label in node_labels %}"{{ label }}"{% if not loop.last %}, {% endif %}{% endfor %}],
    {% endif -%}
    "insecure-registries": ["registry.{{ domain }}"{% if registry_mirror is defined %},"{{ registry_mirror|replace('http://', '')|replace('https://', '') }}"{% endif -%}],
    "dns": ["{{ node_ip }}"],
    "graph": "{{ docker_graph_dir }}",
    "hosts": ["unix:///var/run/docker.sock","tcp://{{ node_ip }}:{{ docker_port }}"],
    "log-driver": "none",
    "cluster-store": "consul://127.0.0.1:8500",
    "labels": ["group=default"]
}
