[Unit]
Description=docker swarm agent
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
          --name %n \
          --restart=always \
          {{ swarm_image }} join \
          --addr={{ node_ip }}:{{ docker_port }} \
          etcd://{{ node_ip }}:{{ etcd_client_port }}/lain/swarm
ExecStop=/bin/bash -c '/usr/bin/docker stop %n || true'

[Install]
WantedBy=multi-user.target
