{{ syslog_messages_location|default('/var/log/messages') }}
{
    rotate 7
    daily

    compress

    postrotate
	/bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true
    endscript
}